{% extends 'base.html' %}

{% block title %} Dejar un comentario {% endblock %}
{% block content %}
	{% if user.is_authenticated %}
		<h1>Dejar un comentario...</h1>
		<hr>
		<br/>

		<div class="achicar">
			<div class="form-group">
				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<button class="btn btn-secondary">Confirmar</button>
					<a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
				</form>
			</div>
		</div>

				<script>
				var nombre = "{{ user.id }}";
				
				document.getElementById("default").value = nombre;

			</script>
	{% else %}
	<div class="alert alert-warning" role="alert">
  		Solo los usuarios registrados pueden comentar...
	</div>
	{% endif %}
	
{% endblock %}