{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Buscar Usuarios:</h1>
<hr>
<br/>
<form method="POST">
	{% csrf_token %}

	<input type="input" class="form-control" placeholder="Buscar Usuarios" name="search" required>
	<br/><br/>
	<button type="submit" class="btn btn-secondary">Buscar</button>
	<a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
</form>
<br/><br/>

{% if search %}
	<h3>Buscaste: {{ search }}</h3>
<hr>
<br/>
{% endif %}
		
{% if searched %}
	{% for result in searched %}
<div class="card mb-3">
  <div class="row no-4">
    <div class="col-md-2">
{% if result.profile.profile_pic %}
      <img src="{{ result.profile.profile_pic.url }}" class="card-img">
{% else %}
      <img src="{% static 'appfierros/images/default.png'%}" class="card-img">
{% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ result.profile.user.first_name }} {{ result.profile.user.last_name}}         <p class="card-text"><small class="text-body-secondary">Ultima modificacion: {{ result.profile.date_modified }}</small></h5>
          <p class="small text-muted">
            {% if result.profile.github_url %}
              <a href="{{ result.profile.github_url }}" target="_blank">Github</a> |
            {% endif %}

            {% if result.profile.linkedin_url %}
              <a href="{{ result.profile.linkedin_url }}" target="_blank">Linkedin</a> |
            {% endif %}

            {% if result.profile.facebook_url %}
              <a href="{{ result.profile.facebook_url }}" target="_blank">Facebook</a> |
            {% endif %}

            {% if result.profile.instagram_url %} 
              <a href="{{ result.profile.instagram_url }}" target="_blank">Instagram</a> |
            {% endif %}
            
            {% if result.profile.twitter_url %}   
              <a href="{{ result.profile.twitter_url }}" target="_blank">Twitter</a>
            {% endif %}
      </p>
        <p class="card-text">{{ result.profile.bio }}</p>
      </div>
    </div>
  </div>
</div>
	{% endfor %}
{% else %}
{% if searched == None %}

{%else%}
<div class="alert alert-warning" role="alert">
  Tu busqueda no arrojó resultados :(
</div>
{%endif%}
{% endif %}

<br/><br/>
{% endblock %}