{% extends 'base.html' %}
{% block title %} Crear pagina de perfil {% endblock %}
{% block content %}


{% if user.is_authenticated %}
	<h1>Crear pagina de perfil:</h1>
	<hr>
	<br/>

	<div class="achicar">
		<div class="form-group">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-secondary">Confirmar</button>
				<a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
			</form>
		</div>
	</div>

{% else %}
	<div class="alert alert-warning" role="alert">
  		Solo los usuarios registrados pueden acceder aqui...
	</div>
{% endif %}

{% endblock %}